
body {
    background: linear-gradient(to bottom, #1A2346, #343f9a);
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;

}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #48578e;
    text-align: center;
}

#neptunias_abgrund_logo {
    margin-left: 15px;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #7d8ec4;
    font-size: x-large;
    font-weight: bold;
}

a:hover {
    background-color: #0044CC;
}

#menueleiste {
    display: flex;
    background-color: #6c78a4;
    color: #48578e;
    padding: 10px 20px;
    margin-outside: 10px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-weight: bolder;
    border-radius: 6px;
    margin-top: 7px;
    margin-bottom: 15px;
    flex-direction: column;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#startseite, #tiere, #shop, #kontakt {
    display: inline-block;
    background-color: #9daddf;
    color: #48578e;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

#karte {
    display: inline-block;
    background-color: #48578e;
    color: #9daddf;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

#karte_zoo {
    margin-top: 5px;
    margin-left: 26%;
}

@media (max-width: 600px) {

    body {
        padding: 10px;
    }

    #neptunias_abgrund_logo {
        margin: 10px;
    }

    #karte_zoo {
        width: 100%;
        margin-left: 0;
    }

    #menueleiste {
        flex-direction: row;
        justify-content: space-between;
    }

    ul {
        flex-wrap: wrap;
    }

    #startseite,
    #tiere,
    #shop,
    #kontakt,
    #karte {
        margin-bottom: 5px;
        margin-right: 5px;
        margin-left: 5px;
    }

    #karte_zoo {
        margin-top: 5px;
    }

    #content_1,
    #content_2 {
        flex-direction: column;
        align-items: center;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    p {
        font-size: 14px;
    }
}